<table>
    <tr>
        <td>投保年龄：</td>
        <td>18-69周岁</td>
    </tr>
    <tr>
        <td>缴费方式：</td>
        <td>一次交清</td>
    </tr>
    <tr>
        <td>投保范围：</td><td>
        中国公民、有长期居住权或工作签证的外籍人</td><tr>
    <tr><td>保险责任：</td></tr>
    <tr><td colspan="2" style="color: black;margin-top: -10px;">
        一般意外30万 | 特定交通工具30万 <br/>
        意外医疗30万 | 紧急牙科门诊医疗0.5万<br/>
        后事处理5万 | 安排亲属处理后事5万<br/>
        紧急转运40万 | 安排子女回国5万<br/>
        住院津贴600元/天</td></tr>
    <tr>
        <td>责任免除：</td><td>
        见保险条款</td></tr>
</table>